/*============    FONTS   ============*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*============    GENERAL  ============*/
* {
  margin: 0;
  padding: 0;
}

.header, .main {
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*============    ANIMATIONS  ============*/

@keyframes slideText {
  0% {padding-left: 0px;}
  100% {padding-left: 170px;}
}

@keyframes slideTextBackward {
  0% {padding-left: 170px;}
  100% {padding-left: 0px;}
}

@keyframes slideTextBig {
  0% {padding-left: 0px;}
  100% {padding-left: 430px;}
}

@keyframes slideTextBigBackward {
  0% {padding-left: 430px;}
  100% {padding-left: 0px;}
}

/*============    BODY   ============*/

body {
  font-family: 'Fira Sans', sans-serif;
}

/*============    HEADER   ============*/
.header {
  position: fixed;
  left: 50%; /* эта и следующая строчки центрируют элемент fixed*/
  transform: translateX(-50%);
  top: 0;
  max-width: 1920px;
  width: 100%;
  height: 120px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 80px;
  padding: 0 32px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  align-items: center;
  z-index: 10;
  transition: all 0.5s ease;
}

.header section {
  border-bottom: 1px solid rgba(191, 187, 187, 0.3);
  box-sizing: border-box;
  height: 100%;
  display: grid;
}

.header__top {
  grid-template-columns: repeat(2, 1fr);
}

.header__contact {
  justify-self: start;
  align-self: center;
  align-items: flex-start;
  display: flex;
}

.header__tel, .header__mail {
  height: 100%;
  display: flex;
}

.header__tel .header__contact-img img {
  width: 16px;
  height: 16px;
}

.header__mail .header__contact-img img {
  width: 14px;
  height: 11px;
}

.header__contact-text {
  margin-left: 10px;
}

.header__mail {
  margin-left: 35px;
}

.header__socials {
  justify-self: end;
  align-self: center;
}

.header__socials-link + .header__socials-link {
  margin-left: 16px;
}

.header__bot {
  grid-template-columns: 271px 1fr 271px;
  align-items: center;
}

.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo-link {
  height: fit-content;
  display: flex;
}

.header__nav {
  height: 100%;
}

.header__nav-list {
  width: fit-content;
  height: 100%;
  margin: auto;
}

.header__nav-item {
  display: inline-block;
  list-style: none;
  height: 100%;
}

.header__nav-item + .header__nav-item {
  margin-left: 32px;
}

.header__nav-link {
  width: 100%;
  height: calc(100% + 0.5px);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header__nav-link:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.header__feedback {
  border-left: 1px solid rgba(191, 187, 187, 0.3);
  box-sizing: border-box;
  height: 100%;
}

.header__feedback-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.header__feedback-link:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: all 0.4s ease;
}

/*============    MAIN   ============*/
.main {
  max-width: 1920px;
}

/*============    BANNER   ============*/
.banner {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/picture/banner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 860px;

  margin: 0 auto;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner__heading {
  font-size: 56px;
  width: 863px;
  margin: auto 0 auto 207.5px;
}

.banner__booking {
  display: grid;
  grid-template-columns: repeat(4, 352px);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.banner__booking-tab {
  display: grid;
  height: 64px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr repeat(3, 64px);
  border-bottom: 1px solid rgba(191, 187, 187, 0.3);
  border-top: 1px solid rgba(191, 187, 187, 0.3);
  box-sizing: border-box;
  align-items: center;
}

.banner__booking-title {
  color: rgb(191, 187, 187);
  opacity: 0.6;
  margin-bottom: 8px;
}

.banner__booking-button, .banner__booking-input, .slider__control-button {
  background: transparent;
  color: rgb(222, 222, 222);
  outline: none;
  border: none;
  font-size: 24px;
  height: 100%;
}

.banner__booking-button, .slider__control-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.banner__booking-button:hover {
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.button__sign {
  transition: all 0.3s ease;
}

.banner__booking-button:hover .button__sign {
  filter: invert(100%);
  transition: all 0.3s ease;
}

.banner__booking-input {
  text-align: center;
  border-left: 1px solid rgba(191, 187, 187, 0.3);
  border-right: 1px solid rgba(191, 187, 187, 0.3);
  box-sizing: border-box;
  font-family: 'Fira Sans Condensed';
}

.banner__booking-label {
  font-size: 18px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.banner__booking-item:last-child {
  display: flex;
  align-items: flex-end;
}

.banner__booking-item:last-child .banner__booking-tab{
  display: flex;
  width: 100%;
}

.banner__booking-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
  justify-content: left;
}

.banner__booking-link img {
  margin-left: 8px;
  transition: all 0.3s ease;
}

.banner__booking-link:hover {
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  animation: slideText 0.5s ease forwards;
}

.banner__booking-link:hover img {
  filter: invert(100%);
  transition: all 0.3s ease;
}

/*============    APARTAMENTS   ============*/
.apartments__content {
  padding: 180px 0;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 736px 608px;
  grid-template-rows: 1fr;
  grid-column-gap: 160px;
  margin: 0 auto;
  width: fit-content;
}

.section__heading {
  font-family: 'Fira Sans Condensed';
  font-size: 38px;
  letter-spacing: 0.13em;
}

.content__paragraph {
  font-size: 18px;
  line-height: 27px;
  margin-top: 32px;
  color: #636363;
}

.apartaments__icons {
  display: flex;
  margin-top: 64px;
}

.apartament__icons-item {
  width: 111px;
  text-align: center;
}

.apartament__icons-item + .apartament__icons-item {
  margin-left: 25px;
}

.apartament__icon-label {
  margin-top: 16px;
}

/*============    PAY   ============*/
.pay {
  background-color: rgba(191, 187, 187, 0.3);
}

.pay__content {
  display: grid;
  grid-template-rows:  repeat(2, 418px) repeat(3, 402px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  padding: 180px 0;
  width: 1504px;
  margin: 0 auto;
}

.pay__info {
  grid-column: 1/3;
  grid-row: 1/3;
}

.pay__shale {
  grid-column: 3/5;
  grid-row: 1/3;
}

.pay__lines {
  grid-column: 1/3;
  grid-row: 3/5;
}

.pay__lamp {
  grid-column: 3/4;
  grid-row: 3/4;
}

.pay__bootle {
  grid-column: 4/5;
  grid-row: 3/4;
}

.pay__diningroom {
  grid-column: 3/5;
  grid-row: 4/6;
  display: flex;
}

.pay__diningroom img {
  max-height: 100%;
  max-width: 100%;
}

.pay__towel {
  grid-column: 1/2;
  grid-row: 5/6;
}

.pay__lamp2 {
  grid-column: 2/3;
  grid-row: 5/6;
}

.pay__paragraph {
  width: 608px;
}

.pay__list {
  width: 384px;
  margin-top: 64px;
}

.pay__list-item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 24px 0;
  font-size: 18px;
  line-height: 27px;
  border-top: 1px solid rgba(191, 187, 187, 0.6);
  box-sizing: border-box;
  max-height: 75px;
}

.pay__list-item:last-child {
  border-bottom: 1px solid rgba(191, 187, 187, 0.6);
}

.circle {
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  margin-right: 16px;
}

.pay__booking {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  color: rgb(0, 0, 0);
  margin-top: 64px;
  height: 80px;
  width: 608px;
  box-sizing: border-box;
  border-top: 1px solid rgba(191, 187, 187, 0.6);
  border-bottom: 1px solid rgba(191, 187, 187, 0.6);
}

.pay__booking:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: all 0.4s ease;
  animation: slideTextBig 0.4s forwards;
}

.pay__booking img {
  margin-left: 8px;
}

.pay__booking:hover img {
  filter: invert(100%);
}

.pay__slider {
  width: 1504px;
  height: 642px;
  margin: 88px auto 0 auto;
  position: relative;
  overflow: hidden;
}

.pay__slider-item {
  display: grid;
  min-width: calc(100% / 4);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 160px;
}

.pay__slider-wrapper {
  display: flex;
  width: calc(100% * 4);
  transition: all 0.5s ease-in-out;
}

.slider__control {
  display: flex;
  height: 80px;
  width: 608px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 1px solid rgba(191, 187, 187, 0.6);
  border-bottom: 1px solid rgba(191, 187, 187, 0.6);

}

.slider__control-button {
  width: 80px;
  height: 100%;
  transition: 0.3s ease;
}

.slider__control-button img {
  transition: 0.3s ease;
}

.slider__control-button:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease;
}

.slider__control-button:hover img {
  filter: invert(100%);
  transition: 0.3s ease;
}

.slider__control-line {
  height: 100%;
  width: 1px;
  background-color: rgba(191, 187, 187, 0.6);
}

#slider__minus img {
  transform: rotateY(180deg);
}

.slider__control-count {
  line-height: 80px;
  font-family: 'Fira Sans Condensed';
  font-size: 38px;
  margin-left: auto;
}

/*============    SKI   ============*/

.ski {
  padding-bottom: 180px;
}

.ski__trace {
  padding-top: 180px;
  display: grid;
  width: fit-content;
  grid-template-columns: 736px 608px;
  grid-template-rows: 1fr;
  grid-gap: 160px;
  margin: 0 auto;
}

.ski__food {
  position: relative;
  display: grid;
  width: fit-content;
  grid-template-columns: 608px 736px;
  grid-template-rows: 1fr;
  grid-gap: 160px;
  margin: 0 auto;
  padding-top: 160px;
}

.ski__food a {
  position: absolute;
}


/*============    SERVICES   ============*/

.services {
  background-color: rgba(191, 187, 187, 0.3);

  overflow-x: hidden;
}

.services__wrapper {
  padding: 120px 0 120px 0;
}

.services__slider1-wrapper {
  width: 1504px;
  height: 515px;
  position: relative;
  margin: 0 auto;
}

.services__slider1 {
  display: flex;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}

.services__slider1-content {
  width: 278px;
  transition: all 0.3s ease-in-out;
}

.services__slider1-content + .services__slider1-content {
  margin-left: 106px;
}

.services__slider1-content:nth-child(5) {
  opacity: 0.15;
}

.services__slider1-heading {
  font-size: 24px;
  margin-top: 64px;
}

.services__slider1-paragraph {
  margin-top: 16px;
}

.services__slider1-controls {
  width: 100%;
  border: none;
  display: grid;
  grid-template-columns: 160px auto 1007px;
  grid-template-rows: 1fr;
}

.services__slider1-buttons {
  display: flex;
  border-top: 1px solid rgba(191, 187, 187, 0.6);
  border-bottom: 1px solid rgba(191, 187, 187, 0.6);
}

#services__button-minus img {
  transform: rotateY(180deg);
}

.services__slider1-counter {
  grid-column: 3/4;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(191, 187, 187, 0.6);
  box-sizing: border-box;
  position: relative;
}

.services__slider1-marker {
  width: calc(100% / 3);
  height: 1px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: -1px;
  transition: all 0.3s ease-in-out;
}

.services__showplace {
  margin: 120px auto 0 auto;
  width: 1504px;
  position: relative;
  overflow: hidden;
}

.services__showplace-slider {
  display: flex;
  transition: all 0.3s ease-in-out;
  width: calc(100% * 4);
}

.services__showplace-item {
  display: grid;
  width: calc(100% / 4);
  grid-template-columns: 608px 736px;
  grid-template-rows: 1fr;
  grid-gap: 160px;
}

.services__showplace-image img {
  max-width: 100%;
}

#sliderShowplace__minus img {
  transform: rotateY(180deg);
}

/*============    CONTACTS   ============*/

.contacts {
  display: flex;
  height: 693px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/picture/footer.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts__wrapper {
  width: 1504px;
  margin: auto auto;
}

.contacts__text {
  display: flex;
  height: 105px;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}

.contacts__paragraph {
  font-size: 18px;
}

.contacts__form {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 352px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 32px;
}

.contacts__form-item {
  display: flex;
  flex-direction: column;
}

.contacts__form-label {
  font-size: 16px;
  color: rgba(191, 187, 187, 0.6);
  margin-bottom: 8px;
}

.contacts__form-input {
  height: 64px;
  font-size: 18px;
  outline: none;
  border: none;
  color: rgb(222, 222, 222);
  background-color: transparent;
  border-top: 1px solid rgba(191, 187, 187, 0.3);
  border-bottom: 1px solid rgba(191, 187, 187, 0.3);
}

.contacts__form-input::placeholder {
  color: rgb(255, 255, 255);
}

.contacts__form-input:focus::placeholder {
  color: transparent;
}

.contacts__form-submit {
  margin-top: auto;
  display: flex;
  align-items: center;
  font-size: 18px;
  transition: 0.4s ease;
  cursor: pointer;
}

.contacts__form-submit img {
  margin-left: 8px;
  transition: 0.4s ease;
}

.contacts__form-submit:hover {
  animation: slideText 0.4s ease forwards;
  background-color: rgb(255, 255, 255);
  transition: 0.4s ease;
  color: rgb(0, 0, 0);
}

.contacts__form-submit:hover img {
  filter: invert(100%);
}

.contacts__form-personal {
  grid-column: 1/3;
}

.contacts__form-radio {
  display: none;
}

.contacts__form-radioLabel {
  color: #636363;
  cursor: pointer;
  margin-left: 26px;
  position: relative;
  display: inline-block;
}

.contacts__form-radioLabel::before {
  content: '';
  display: inline-block;
  background-image: url(/picture/icons/radio1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
}

.contacts__form-radio:checked + .contacts__form-radioLabel::before {
  background-image: url(/picture/icons/radio2.svg);
}


/*============    FOOTER   ============*/

.footer {
  padding: 80px 0;
  background-color: rgb(255, 255, 255);
}

.footer__content {
  max-width: 1504px;
  margin: 0 auto;
}

.footer__links {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  margin-bottom: 124px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(191, 187, 187, 0.6);
  border-bottom: 1px solid rgba(191, 187, 187, 0.6);
}

.footer__logo img {
  filter: invert(100%);
}

.footer__nav {
  height: 100%;
  margin-left: 80px;
}

.footer__nav-link {
  color: rgb(0, 0, 0);
}

.footer__booking {
  color: rgb(0, 0, 0);
  width: 255px;
  cursor: pointer;
  margin-left: auto;
  box-sizing: border-box;
  border-left: 1px solid rgba(191, 187, 187, 0.6);
  transition: 0.3s ease;
}

.footer__booking:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease;
}

.footer__connection {
  display: flex;
  justify-content: space-between;
  padding: 37px 0;
  border-bottom: 1px solid rgba(191, 187, 187, 0.6);
}

.footer__contact-text  {
  color: rgb(0, 0, 0);
}

.footer__connection img {
  filter: invert(100%);
}

.nelset__link {
  color: rgb(0, 0, 0);
}

.resume {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.nelset {
  text-align: right;
}
